<section class="section">
  <div class="container is-fluid">
    <% flash.each_with_index do |(key, message), index| %>
      <div class="notification is-<%= key %>" id="<%= key %>-<%= index %>">
        <button class="delete" onclick="document.getElementById('<%= key %>-<%= index %>').style.display = 'none'"></button>
        <%= raw(message) %>
      </div>
      <% end %>
  </div>
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <h1 class="title">Senior Awards System</h1>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <%= link_to 'Admin', rails_admin_path, :target => '_admin' %>
      </div>
    </div>
  </div>

  <table id="student-list" class="table is-fullwidth is-hoverable">
    <thead>
      <tr>
        <th>ID Number</th>
        <th>First</th>
        <th>Last</th>
        <th class="column_cte">CTE Program</th>
        <th></th>
      </tr>
    </thead>
    <% @students.each do |student| %>
      <tr>
        <td>
          <%= student.id_number %>
        </td>

        <td>
          <%= student.firstname %>
        </td>
        <td>
          <%= student.lastname %>
        </td>
        <td class="column_cte">
          <%= student.cte_programs.order(:name).map(&:name).join(", ") %>
        </td>
        <td>
          <%= link_to popup_student_url(student), :target => 'student_popup' do %>
            Show
            <%= fa_icon 'external-link' %>
              <% end %>
        </td>
      </tr>
      <% end %>
  </table>
  </div>
</section>
<script>
  $('#student-list').DataTable({
    paging: true,
    order: [
      [
        0, "asc"
      ]
    ],

    columnDefs: [{
      targets: 'no-sort',
      responsive: true,
      orderable: false
    }]
  });

  $('div.dataTables_filter input', $('#student-list').DataTable().table().container()).focus();
</script>