<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title"> Senior Awards System</h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= link_to 'Admin', rails_admin_path %>
        </div>
      </div>
    </div>

    <table class="table is-hoverable">
      <thead>
        <tr>
          <th>First</th>
          <th>Last</th>
          <th>ID Number</th>
          <th>Blurb</th>
          <th></th>
        </tr>
      </thead>
      <% @students.each do |student| %>
        <tr>
          <td>
            <%= student.firstname %>
          </td>
          <td>
            <%= student.lastname %>
          </td>
          <td>
            <%= student.id_number %>
          </td>
          <td>
            <%= student.blurb %>
          </td>
          <td>
            <%= link_to popup_student_url(student), :target => 'student_popup' do %>
              Show
              <%= fa_icon 'external-link' %>
                <% end %>
          </td>
        </tr>
        <% end %>
    </table>
  </div>
</section>