<section id="popup" class="hero is-light is-fullheight">
  <div class="hero-head container-fluid box has-text-centered">
    <article class="media">
      <figure class="media-left">
        <% unless @student.photo.blank? %>

          <div id="photo" class="transition image">
            <%= display_image("photos/" + @student.photo) %>
          </div>
          <% end %>
      </figure>

      <div class="media-content">
        <div class="content">
          <span class="transition-start">
            <h1 class="title">
              <%= @student.firstname %>
                <%= @student.lastname %>
            </h1>
            </span>
            <span class="transition-first">
          <h2 class="subtitle">
              <% @student.cte_programs.order(:name).each do |cte| %>
                <%= cte.name %>
                  <br>
                  <% end %>
          </h2>
          </span>
          <span class="transition-second">
          <h2 class="subtitle">
            <% unless @student.blurb.blank? %>
              <%= @student.blurb %>
                <% end %>
          </h2>
          </span>
        </div>
      </div>

    </article>
  </div>
  <div class="hero-body">
    <div class="container-fluid profile">
      <div class="media-content">
        <div class="content">
          <span class="transition-second">
            <ul class="scholarship-list">
              <% @student.scholarships.order(:name).each do |scholarship| %>
                <li>
                  <%= scholarship.name %>
                </li>
                <% end %>
            </ul>
          </span>
        </div>
      </div>
    </div>
    </divdiv>
  </div>
  <%= link_to("Previous", popup_student_url(@student.previous), :id => 'previous') if @student.previous %>
    <%= link_to("Next", popup_student_url(@student.next), :id => 'next') if @student.next %>
</section>

<script>
  document.onkeydown = function (evt) {
    evt = evt || window.event;
    switch (evt.keyCode) {
      case 37:
        // leftArrowPressed();
        location.href = $('#previous').attr('href');
        break;
      case 39:
        //rightArrowPressed();
        location.href = $('#next').attr('href');
        break;
    }
  };

  <%# $('.scholarship-list li').flowtype({
    minFont: 44,
    maxFont: 80
  }); %>
</script>