<section id="popup" class="hero is-light  is-fullheight">
  <div class="hero-head box has-text-centered">
    <h3 class="title">2018 Senior Awards Ceremony</h3>
    <h4 class="subtitle">Metro Tech High School</h4>
  </div>
  <div class="hero-body">
    <div class="container box">
      <article class="media">
        <figure class="media-left">
          <div id="photo" class="transition image is-3by4">
            <%= display_image("photos/" + @student.id_number + ".jpg") %>
          </div>
        </figure>
        <div class="media-content">
          <div class="content">
            <span class="transition-first">
              <h1 class="title">
                <%= @student.firstname %>
                <%= @student.lastname %>
              </h1>
              <% unless @student.blurb.blank? %>
                <h2 class="subtitle">
                  <%= @student.blurb %>
                </h2>
              <% end %>
              <h2 class="subtitle">
                <%= @student.cte_programs.order(:name).map(&:name).join(", ") %>
              </h2>
              <hr>
            </span>
            <span class="transition-second">
              <ul class="scholarship-list">
                <% @student.scholarships.order(:name).each do |scholarship| %>
                  <li><%= scholarship.name %></li>
                <% end %>
              </ul>
            </span>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>