<section id="popup" class="hero is-light is-fullheight">
  <div class="hero-head container-fluid box has-text-centered">
    <article class="media">
      <figure class="media-left">
        <% unless @student.photo.blank? %>

          <div id="photo" class="transition image is-3by4">
            <%= display_image("photos/" + @student.photo) %>
          </div>
          <% end %>
      </figure>

      <div class="media-content">
        <div class="content">
          <span class="transition-first">
            <h1 class="title">
              <%= @student.firstname %>
                <%= @student.lastname %>
            </h1>
            <h2 class="subtitle">
              <% unless @student.blurb.blank? %>
                <%= @student.blurb %>
                  <% end %>

                    <% @student.cte_programs.order(:name).each do |cte| %>
                      <%= cte.name %>
                        <br>
                        <% end %>
            </h2>

          </span>
        </div>
      </div>

    </article>
  </div>
  <div class="hero-body">
    <div class="container-fluid profile">
      <div class="media-content">
        <div class="content">
          <span class="transition-second">
            <ul class="scholarship-list">
              <% @student.scholarships.order(:name).each do |scholarship| %>
                <li>
                  <%= scholarship.name %>
                </li>
                <% end %>
            </ul>
          </span>
        </div>
      </div>
    </div>
    </divdiv>
  </div>
  <% if @student.previous_queued %>
    <%= link_to("Previous", queued_popup_student_url(@student.previous_queued), :id => 'previous-queued') %>
      <% else %>
        <%= link_to("Previous", queued_popup_student_url(@student), :id => 'previous-queued') %>
          <% end %>
            <% if @student.next_queued %>
              <%= link_to("Next", queued_popup_student_url(@student.next_queued), :id => 'next-queued')  %>
                <% else %>
                  <span id="next-queued"></span>
                  <% end %>
</section>

<script>
  document.onkeydown = function (evt) {
    evt = evt || window.event;
    switch (evt.keyCode) {
      case 37:
        // leftArrowPressed();
        if ($('#previous-queued').is("a")) {
          location.href = $('#previous-queued').attr('href');
          break;
        }
      case 39:
        //rightArrowPressed();
        if ($('#next-queued').is("a")) {
          location.href = $('#next-queued').attr('href');
          break;
        }
    }
  };
</script>